*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body{

    font-family: Arial, Helvetica, sans-serif;
}

#navbar{
    position: fixed;
    border-right: 5px solid gray;
    min-width: 18%;
    height: 100vh;
    top: 0;
    left: 0;
}

#main-doc{
    margin: 0 auto;
    max-width: 75%;
    float: right;
}


article li{
    margin: 25px 50px;
}

.main-section header{
    font-size: 25px;
    font-weight: bold;
    text-align: center;
    line-height: 100px;
}

#navbar a li{
    width: 100%;
    border: 1px solid gray;
    text-decoration: none;
    padding: 15px;
}

#global_variables{
    margin: 20px;
}

#navbar a{
    text-decoration: none;
    color: black;
}

#navbar header{
    font-size: 25px;
    margin: 15px;
    text-align: center;
}

code{
    margin: 20px;
    display: block;
    background-color: lightgray;
    width: 90%;
    padding: 20px;
    font-weight: bold;
}

#navbar li:hover{
    background-color: black;
    color: white;
}

@media(max-width: 1105px){
    #navbar{
        width: 100vw;
        text-align: center;
        position: relative;
        height: auto;
    }
    #main-doc{
        width: 100vw;
        position: relative;
        top: 5%;
        float: none;
        margin: auto;
    }
}
